/* MAIN HEADERS */
header {
    /* width: 28rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
}


/* Main containers */
.containers {
    width: 90%;
    box-sizing: border-box;
    margin: 1.5rem auto;
    border: 2px gray solid;
    padding: 50px;
}

/* Color section */
.color_flex_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.colored_div {
    border: 1px gray solid;
    margin: 5px;
    padding: 4em 9em;
}

.color_info {
    width: 85px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Limegreen */
#color1 {
    background-color: #32cd32;
}

/* Darkred */
#color2 {
    background-color: #8b0000;
}

/* Purple */
#color3 {
    background-color: #800080;
}

/* Burlywood */
#color4 {
    background-color: #deb887;
}


/* Tablet screen sizes */
@media screen 
and (max-width: 768px)
and (min-width: 426px) {
    .containers {
        width: 46rem;
    }
    .colored_div {
        padding: 4rem 6.8447rem;
    }
}

/* Mobile screen sizes */
@media screen 
and (max-width: 425px) 
and (min-width: 376px) {   
    .containers {
        width: 25.5em;
    }

    .colored_div {
        width: 100%;
        padding: 4rem 9rem;
    }
}

@media screen 
and (max-width: 375px)
and (min-width: 321px) {
    .containers {
        width: 22rem;
    }
    
    .colored_div {
        width: 100%;
        padding: 4rem 7rem;
    }
}


@media screen and (max-width: 320px) {
    .containers {
        width: 19rem;
    }

    .colored_div {
        padding: 4rem 5.5rem;
    }
}
